<div class="container">
<form [formGroup]="myForm" (ngSubmit)="submit()">
  <h1>Blood Cells Count</h1>
    <div class="form-group">
        <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
        </div>
    </div>
   
    <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
       
    <button class="btn" type="submit">Submit</button>
</form>
</div>